
body{
    background-color: #F1F1F3;
}
.open-sans-normal{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 24px 160px;
}
h3{
    font-family: Open Sans;
    font-weight: bold;
    font-size: 32px;
}
.btn-1{
    color: #006a50;
    padding: 15px 15px;
    width: 116px;
    height: 52px;
    border: 2px solid #006a50;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}
/* Banner section styles*/
.banner-section{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 100px 80px;
    background-color: #C6E4D6;
    width: 1280px;
    height: 560px;
    align-items: center;
}
.banner-heading{
    color: #0e0e0e;
    font-size: 24px;
    font-weight: 200;
}
.banner-discription{
    color: #0e0e0e;
    font-size: 56px;
    font-weight: bold;
    width: 622px;
    height: 201px;
    margin-top: 16px;
}
.banner-button{
    padding: 17px;
    background-color: #006a50;
    color: white;
    text-decoration: none;

}
/*vision styles*/
.vision-title{
    font-weight: bold;
    font-size: 40px;
    width: 1280px;
    height: 48px;
    margin: 0 auto;
    padding: 100px 80px;
}
.vision-discription{
    font-weight: 100;
    font-size: 16px;
    width: 1280px;
    height: 48px;
    margin: 16px auto;
}
.cards-container{
    display: flex;
    gap: 24px;
    justify-content: center;
}
.card-1{
    background-color: #81B4FC;
    width: 410px;
    height: 325px;
}
.card-2{
    background-color: #C6E4D6;
    width: 410px;
    height: 325px;
}
.card-3{
    background-color: #FFF7DF;
    width: 410px;
    height: 325px;
}
img{
    padding: 20px;
}
h3{
    width: 360px;
    height: 24px;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}
p{
    width: 360px;
    height: 48px;
    font-weight: 100;
    font-size: 16px;
    padding: 10px; 
}
.blue{
    background-color: #5490F5;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px 20px;
    border: 5px solid #5490F5;
    cursor: pointer;
}
.Green{
    background-color: #006a50;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px 20px;
    border: 5px solid #006a50;
    cursor: pointer;
}
.yellow{
    background-color: #FFC239;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px 20px;
    border: 5px solid #FFC239 ;
    cursor: pointer;
}
.parent_quote_section{
    margin-top: 25px;
}
.quote-section{
    
    width: 1280px;
    position: relative;
    padding: 30px 0px;
    height: 256px;
    margin: 0 auto;
    
    background-color:    #FFFFFF;
    border-radius: 20px;
}
.quote-section >.quote-image{
    position: absolute;
    top:0px;
    left:0px

}

.quote-section >.quote-content{
    width: 100%;
    text-align: center;
    margin-top: 60px;
    
}
.quote-author{
    text-align: left;
    padding-left: 20px;
    font-weight: 500;
    font-size: 20px;

}
.author-discription{
    text-align: left;
    padding-left: 20px; 
}
.news-section{
    margin-top: 25px;
}
.recent-news{
    width: 1280px;
    margin: 0 auto;
    padding: 20px;
}
.news-heading{
    font-weight: bold;
    font-size: 40px;
}
.box-1{
    display: flex;
    width: 1280px;
    height: 550px;
    background-color: #FFFFFF;
    margin: 0 auto;
    justify-content: flex-start;
    border-radius: 20px;
    margin-top: 25px;
    align-items: center;
    box-shadow: 4px 4px 8px #F1F1F3;
    text-align: justify;

}
.alzira-heading{
    font-weight: bold;
    font-size: 20px;
}
.box-1-right{
    padding-right: 20px;
}
.box-2{
    display: flex;
    width: 1280px;
    height: 550px;
    background-color: #FFFFFF;
    margin: 0 auto;
    justify-content: space-between;
    border-radius: 20px;
    margin-top: 25px;
    align-items: center;
    box-shadow: 4px 4px 8px #F1F1F3;
    text-align: left;

}
.box-2-left{
    padding-left: 20px;
}
/* donate section */
.donate{
    width: 1280px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.donate-heading{
    font-weight: bold;
    font-size: 40px;
}
.taka{
    display: flex;
    width: 1280px;
    margin: 0 auto;
    gap: 25px;
    padding-top: 32px;
    justify-content: center;
}
.taka100{
    background-color: #FFFFFF;
    color: #0e0e0e;
    width: 240px;
    height: 128px;
    font-weight: bold;
    font-size: 40px;
    padding: 40px 40px;
    text-align: center;
    border-radius: 10px;
    border: gray;
}
.taka200{
    background-color: #C6E4D6;
    width: 240px;
    height: 128px;
    font-weight: bold;
    font-size: 40px;
    padding: 40px 40px;
    text-align: center;
    border-radius: 10px;
    border: gray;
}
.taka500{
    background-color: #FFFFFF;
    width: 240px;
    height: 128px;
    font-weight: bold;
    font-size: 40px;
    padding: 40px 40px;
    text-align: center;
    border-radius: 10px;
    border: gray;
}
.taka1000{
    background-color: #FFFFFF;
    width: 240px;
    height: 128px;
    font-weight: bold;
    font-size: 40px;
    padding: 40px 40px;
    text-align: center;
    border-radius: 10px;
    border: gray;
}
.taka100:hover{
    background-color: #C6E4D6;
}
.taka200:hover{
    background-color: #FFFFFF;
}
.taka500:hover{
    background-color: #C6E4D6;
}
.taka1000:hover{
    background-color: #C6E4D6;
}
.input-container{
    width: ;
    height: ;
}















.bg{
    width: 1280px;
    height: 395px;
    background-color:#C6E4D6;
    margin: 0 auto;
    border-radius: 20px;
}
.footer{
    text-align: center;
    padding: 100px 80px;
}
.email{
    width: 750px;
    height: 56px;
    margin-top: 25px;
    border: 10px solid #FFFFFF;
}
.sub{
    width: 155px;
    height: 60px;
    background-color: #006a50;
    padding: 34px 17px ;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;

}






